// app global css in SCSS form
@font-face {
  font-family: "Source Sans Regular";
  src: url("./fonts/source-sans/SourceSans3-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Source Sans Black";
  src: url("./fonts/source-sans/SourceSans3-ExtraBold.ttf") format("truetype");
}
@font-face {
  font-family: "Source Sans Medium";
  src: url("./fonts/source-sans/SourceSans3-Medium.ttf") format("truetype");
}

.text-body2,
.text-subtitle {
  font-family: "Source Sans Regular" !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
.text-h1,
.text-h2,
.text-h3,
.text-h4,
.text-h5,
.text-h6 {
  font-family: "Source Sans Black" !important;
}

.text-overline {
  font-family: "Source Sans Medium" !important;
}
