// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;600&display=swap");

$typography-font-family: "Comfortaa", sans-serif !default;

$red: #ee4148;
$orange: #f79724;
$yellow: #f8c64f;
$light-green: #90c06d;
$green: #3baa8a;
$blue: #577891;

$black: #000000;
$white: #ffffff;
$gold: #f5b21b;

$primary: $green;
$secondary: $gold;
$accent: $yellow;

$dark: #1d1d1d;
$dark-page: #121212;

$positive: $light-green;
$negative: $red;
$info: $blue;
$warning: $orange;
